<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oturum Aç</title>
    <style>
        /* Sayfa genelinde arka plan rengi ve gradyan */
        body {
            background: linear-gradient(to bottom right, #8a2be2, #800080); /* Mor gradyan */
        }

        /* Renklendirme stilleri */
        .container2 {
            background-color: #8a2be2; /* Arkaplan rengi mor */
            padding: 20px;
            border-radius: 10px;
            margin: 20px auto 0; /* Üst boşluk eklenerek header ile arasına boşluk bırakılır */
            max-width: 400px; /* Maksimum genişlik */
        }

        .form-title {
            font-size: 24px; /* Form başlığı font büyüklüğü */
            margin-bottom: 20px;
            text-align: center; /* Form başlığını ortala */
            color: white; /* Başlık yazı rengi */
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: white; /* Etiket yazı rengi */
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #008CBA; /* Giriş butonunun arkaplan rengi (mavi) */
            color: white; /* Giriş butonunun yazı rengi */
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button[type="submit"]:hover {
                background-color: #005f6b; /* Giriş butonunun arkaplan rengi (hover) */
            }
    </style>
</head>
<body>


    <div class="container2">
        <form action="/oturum/login" method="post">
            <div class="form-title">Giriş Bilgileri</div>
            <div class="form-group">
                <input name="KullaniciAd" type="text" required />
                <label>Kullanıcı Adı</label>
            </div>
            <div class="form-group">
                <input name="Parola" type="password" required />
                <label>Parola</label>
            </div>
            <button type="submit">Giriş Yap</button>
        </form>
    </div>

  
</body>
</html>
